process.executor = 'local'
process.cpus = 4
process.memory = '8 GB'

conda.enabled = true
conda.cacheDir = "$HOME/.conda-nxf"

params.reads = "data/raw/sample1_{1,2}.fastq.gz"
params.genome = "${projectDir}/data/ref/genome.fa"
params.gtf = "${projectDir}/data/ref/annotation.gtf"
params.outdir = "results"
